/* Déclaration police */
@font-face {
    font-family: 'Doto-regular';
    src: url('../ASSETS/FONT/Doto/static/Doto-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Doto-Bold';
    src: url('../ASSETS/FONT/Doto/static/Doto-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}
@font-face {
    font-family: 'Doto-SemiBold';
    src: url('../ASSETS/FONT/Doto/static/Doto-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Bold */
}
@font-face {
    font-family: 'Tourney-LightItalic';
    src: url('../ASSETS/FONT/Tourney/static/Tourney-LightItalic.ttf') format('truetype');
    font-weight: 3003; /* Bold */
}


/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../IMAGES/cursor.png') 4 4, auto;
}

body {
    font-family: 'Doto', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;
}

/* --- EFFET ÉCRAN ARCADE (CRT) --- */
#loginScreen::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 80;
    background-size: 100% 4px, 3px 100%;
    pointer-events: none;
}

#loginScreen::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 11;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

/* --- LOGIN SCREEN --- */
#loginScreen {
    background-image: url('../IMAGES/bg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f14e;
    position: relative;
}

/* --- Titre jeu --- */
.game-title {
    font-family: 'Doto-SemiBold', sans-serif;
    color: #f0f14e;
    font-weight: 400;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: 4px 4px 0px #000, -2px -2px 0px #000;
    letter-spacing: 4px;
    z-index: 5;
}

/* --- Formulaire --- */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 450px;
    z-index: 5;
    
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 40px 40px 10px 40px;
    border-radius: 10px;
    border: 1px solid rgba(240, 241, 78, 0.3);
    backdrop-filter: blur(4px);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group label {
    font-family: 'Doto-regular', sans-serif;
    font-size: 1.7rem;
    text-align: left;
}


/* inputs */
.input-group input {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(200, 50, 80, 0.4);
    border: 3px dashed #a02040;
    padding: 12px 15px;
    color: #fff;
    font-size: 1.1rem;
    outline: none;
}

.input-group input:focus {
    border-color: #f0f14e;
    box-shadow: 0 0 15px rgba(240, 241, 78, 0.5);
}

/* --- Bouton PLAY --- */
.play-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    align-self: center;
    transition: transform 0.1s ease-in-out;
    image-rendering: pixelated;
    display: inline-block;
}
.play-button img {
    width: 140px;
    display: block;
}
.play-button:hover { transform: scale(1.1); }
.play-button:active { transform: scale(0.95); }

/* --- SCORE SCREEN --- */
#scoreScreen {
    background-image: url('../IMAGES/bg_clear.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 120px; 
    align-items: center;
    position: relative;
}
.leaderboard-box {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 30px 50px 0 50px;
    border-radius: 10px;
    border: 1px solid rgba(240, 241, 78, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    height: 100%;
    width: 90%; 
    max-width: 1200px; 
}

/* podium */
.podium-wrapper {
    position: relative;
    margin-top: auto;
    width: 80%; 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.podium-img {
    width: 100%;
    display: block;
    margin-bottom: -5px; 
}

/* Positionnement joueurs */
.player {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
}
.player .name {
    font-family: 'Tourney-LightItalic', sans-serif;
    font-size: 1rem;
    color: 	#6ded8a; 
    margin-bottom: 1px;
}
.player .avatar {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}

/* Milieu - 1 */
.p1 { 
    left: 51%;     
    bottom: 92%;
    z-index: 10;
    width: 120px;
}

/* Gauche -  2 */
.p2 { 
    left: 25%;     
    bottom: 70%;
    width: 95px;
}

/*  Droite -  3 */
.p3 { 
    left: 75%;     
    bottom: 65%;
    width: 80px;   
}

/* Hitboxes pour cliquer sur le décor */
.hitbox {
    position: absolute;
    z-index: 100;
    background: rgba(255,0,0,0.2);
}
.hitbox-option { top: 5%; left: 1%; width: 140px; height: 400px; }
.hitbox-game { top: 8%; right: 1%; width: 200px; height: 150px; }

/* --- Post-it Crédits --- */
.credits-postit {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #ff99cc;
    color: #000;
    padding: 15px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.9rem;
    transform: rotate(-5deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 15;
}

.credits-postit::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 40%;
    width: 40px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotate(5deg);
}

@keyframes flicker {
    0% { opacity: 0.98; }
    50% { opacity: 1; }
    100% { opacity: 0.99; }
}

/* --- PAGE DU JEU --- */
#maze_screen{
    background-image: url("../ASSETS/IMAGES/background/bg_jeu.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 15%; 
    align-items: center;
    position: relative;
}

.maze_table {
    width: 35vw;
    height: 25vw;
    max-width: 70vw;
    max-height: 70vh;
    aspect-ratio: 8/6;
    margin-bottom: 20%;
}

.maze_tr {
    height: 15%;
    width: 100%;
}

.maze_tr > td {
    width: 11%;
    background-size: 100%, 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.case_type_0 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Case.png");
}

.case_type_1 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Path1.png");
}

.case_type_2 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Path2.png");
}

.case_type_3 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Pit.png");
}

.case_type_4 {
    background-image: url("../ASSETS/IMAGES/mazeImages/CaseG.png");
}

.case_type_5 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Case.png"), url("../ASSETS/IMAGES/mazeImages/WumpusDot.png");
}

.case_type_6 {
    background-image: url("../ASSETS/IMAGES/mazeImages/CaseG.png"), url("../ASSETS/IMAGES/mazeImages/WumpusDot.png");
}

.case_type_7 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Case.png"), url("../ASSETS/IMAGES/mazeImages/Wumpus.png");
}