/* Déclaration police */
@font-face {
    font-family: 'Doto-regular';
    src: url('../ASSETS/FONT/Doto/static/Doto-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Doto-Bold';
    src: url('../ASSETS/FONT/Doto/static/Doto-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}
@font-face {
    font-family: 'Doto-SemiBold';
    src: url('../ASSETS/FONT/Doto/static/Doto-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Bold */
}
@font-face {
    font-family: 'Tourney-LightItalic';
    src: url('../ASSETS/FONT/Tourney/static/Tourney-LightItalic.ttf') format('truetype');
    font-weight: 3003; /* Bold */
}


/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../ASSETS/IMAGES/usable/cursor.png') 4 4, auto;
}

body {
    font-family: 'Doto', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;
}

/* --- EFFET ÉCRAN ARCADE (CRT) --- */
#loginScreen::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 80;
    background-size: 100% 4px, 3px 100%;
    pointer-events: none;
}

#loginScreen::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 11;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

/* --- LOGIN SCREEN --- */
#loginScreen {
    background-image: url('../ASSETS/IMAGES/background/bg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f14e;
    position: relative;
}

/* --- Titre jeu --- */
.game-title {
    font-family: 'Doto-SemiBold', sans-serif;
    color: #f0f14e;
    font-weight: 400;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: 4px 4px 0px #000, -2px -2px 0px #000;
    letter-spacing: 4px;
    z-index: 5;
}

/* --- Formulaire --- */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 450px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 1% 5% 1% 5%;
    border-radius: 10px;
    border: 1px solid rgba(240, 241, 78, 0.3);
    backdrop-filter: blur(4px);
}
.login-form h2{
    color: 	#ff5f85; 
    text-align: center; 
    font-family: 'Doto-regular', sans-serif; 
}
.login-form p{
    text-align: center; 
    margin: 5%
}
.sign-in{
    color: #f0f14e; 
    margin-top: -50%;
    font-family: 'Tourney-LightItalic';
}

/* inputs */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-group label {
    font-family: 'Doto-regular', sans-serif;
    font-size: 1.7rem;
    text-align: left;
}
.input-group input {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(200, 50, 80, 0.4);
    border: 3px dashed #a02040;
    padding: 12px 15px;
    color: #fff;
    font-size: 1.1rem;
    outline: none;
}
.input-group input:focus {
    border-color: #f0f14e;
    box-shadow: 0 0 15px rgba(240, 241, 78, 0.5);
}

/* --- Bouton PLAY --- */
.play-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: -10%;
    align-self: center;
    transition: transform 0.1s ease-in-out;
    image-rendering: pixelated;
    display: inline-block;
}
.play-button img {
    width: 140px;
    display: block;
}
.play-button:hover { transform: scale(1.1); }
.play-button:active { transform: scale(0.95); }

/* --- SCORE SCREEN --- */
#scoreScreen {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

/* --- LE BRIDGE --- */
.background-bridge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    background-image: url('../ASSETS/IMAGES/background/bg_clear.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 177.78vh; 
    max-height: 56.25vw;
    z-index: 1;
}

/* --- LE TITRE --- */
.game-title {
    position: absolute;
    top: 12%;      
    left: 0;
    width: 100%;    
    text-align: center;
    margin: 0;
    font-family: 'Doto-SemiBold', sans-serif;
    color: #f0f14e;
    text-transform: uppercase;
    text-shadow: 4px 4px 0px #000;
    font-size: 6vh; 
    z-index: 10;
    pointer-events: auto;
}

/* --- LEADERBOARD --- */
.leaderboard-box {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%; 
    height: 55%;   
    background-color: rgba(0, 0, 0, 0.6); 
    padding-top: 10%; 
    border-radius: 10px;
    border: 1px solid rgba(240, 241, 78, 0.3);
    backdrop-filter: blur(4px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    pointer-events: auto;
}

/* --- PODIUM --- */
.podium-wrapper {
    position: relative;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
}

.podium-img {
    width: 100%;
    display: block;
    margin-bottom: -1%; 
}

/* --- JOUEURS --- */
.player {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
}
.player .name {
    font-family: 'Tourney-LightItalic', sans-serif;
    font-size: 1.2vw; 
    color: #6ded8a; 
    margin-bottom: 2%;
    white-space: nowrap; 
}
.player .avatar {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}
/* Gagnant (Milieu) */
.p1 { 
    left: 51%;     
    bottom: 90%;
    z-index: 10;
    width: 25%;
}

/* Deuxième (Gauche) */
.p2 { 
    left: 26%;     
    bottom: 68%;
    width: 20%; 
}

/* Troisième (Droite) */
.p3 { 
    left: 75%;     
    bottom: 64%;
    width: 15%; 
}

/* --- HITBOXES --- */
.hitbox {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
    /* background: rgba(255, 0, 0, 0.5); */
}
.hitbox-option {
    top: 24.3%; 
    left: 14.8%;
    width: 5%; 
    height: 38%;
    transform: translate(-50%, -50%);
}
.hitbox-option:hover {
    box-shadow: 0 0 25px rgba(255, 0, 255, 0.8), 
                0 0 40px rgba(255, 0, 255, 0.6);

    background-color: rgba(255, 0, 255, 0.1);
    border: 1px solid rgba(255, 100, 255, 0.5);
}
.hitbox-game {
    top: 23.3%;
    right: 1.5%; 
    width: 15.5%;
    height: 11.5%;
    transform: translateY(-50%);
}
.hitbox-game:hover {
    box-shadow: 0 0 25px rgba(200, 50, 255, 0.8), 
                0 0 40px rgba(200, 50, 255, 0.6);
                
    background-color: rgba(200, 50, 255, 0.1);
    border: 1px solid rgba(220, 100, 255, 0.5);
}

/* --- CRÉDITS --- */
.credits-postit {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #ff99cc;
    color: #000;
    padding: 15px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.9rem;
    transform: rotate(-5deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 200; 
}
.credits-postit::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 40%;
    width: 40px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotate(5deg);
}

/* --- PAGE DU JEU --- */
#maze_screen{
    background-image: url("../ASSETS/IMAGES/background/bg_jeu.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 15%; 
    align-items: center;
    position: relative;
}

.maze_table {
    width: 35vw;
    height: 25vw;
    max-width: 70vw;
    max-height: 70vh;
    aspect-ratio: 8/6;
    margin-bottom: 20%;
    border: 0;
    border-collapse: collapse;
}

.maze_tr {
    height: 15%;
    width: 100%;
}

.maze_tr > td {
    width: 11%;
    background-size: 100%, 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transform: scale(101%);
}

.case_type_0 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Case.png");
}

.case_type_1 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Path1.png");
}

.case_type_2 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Path2.png");
}

.case_type_3 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Pit.png");
}

.case_type_4 {
    background-image: url("../ASSETS/IMAGES/mazeImages/CaseG.png");
}

.case_type_5 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Case.png"), url("../ASSETS/IMAGES/mazeImages/WumpusDot.png");
}

.case_type_6 {
    background-image: url("../ASSETS/IMAGES/mazeImages/CaseG.png"), url("../ASSETS/IMAGES/mazeImages/WumpusDot.png");
}

.case_type_7 {
    background-image: url("../ASSETS/IMAGES/mazeImages/Case.png"), url("../ASSETS/IMAGES/mazeImages/Wumpus.png");
}

.maze_bat, .maze_player, .triggered_bat {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.maze_player {
    background-image: url("../ASSETS/IMAGES/mazeImages/Char.png");
    background-size: 20%; 
    z-index: 10; 
}

.maze_bat {
    background-image: url("../ASSETS/IMAGES/mazeImages/brownBat.png"); 
    background-size: 70%; 
    z-index: 5; 
}

.triggered_bat {
    background-image: url("../ASSETS/IMAGES/mazeImages/r_triggered_bat.png");
    background-size: 60%;
    z-index: 5;
}

/* --- MESSAGE DE DEFAITE --- */
.pannel {/* à faire fusionner avec popup de théo */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ed3833;
    border: 0.3vw solid #fdfd96; 
    padding: 2%;
    z-index: 100;
    text-align: center;
    box-shadow: 0 0 1vw rgba(253, 253, 150, 0.8);
    width: 60%;
    max-width: 500px;
}

.pannel p {
    color: white;
    font-size: 110%;
    margin-bottom: 5%;
    line-height: 1.5;
}

.pannel_btn {
    background-color: black;
    color: #fdfd96;
    border: 0.1vw solid #fdfd96;
    padding: 2% 5%;
    font-family: inherit;
    cursor: pointer;
    font-size: 100%;
    transition: transform 0.1s;
}

.pannel_btn:hover {
    transform: scale(1.1);
    background-color: #222;
}

/* --- MESSAGE DE Victoire --- */
.v-pannel {/* à faire fusionner avec popup de théo */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    border: 0.3vw solid #fdfd96; 
    padding: 2%;
    z-index: 100;
    text-align: center;
    box-shadow: 0 0 1vw rgba(253, 253, 150, 0.8);
    width: 60%;
    max-width: 500px;
}

/* --- MODE DE TIR --- */
body.fire_mode {
    transition: background-color 0.3s, box-shadow 0.3s;
}

body.fire_mode .maze_player {
    animation: pulse-red 1s infinite;
}

@keyframes pulse-red {
    0% { box-shadow: 0 0 5px red; }
    50% { box-shadow: 0 0 20px red; }
    100% { box-shadow: 0 0 5px red; }
}

/* --- LE TEXTE "FIRE MODE" --- */
.fire_ui_container {
    position: absolute;
    top: 18%;
    width: 100%;
    text-align: center;
    z-index: 10;
    pointer-events: none; 
}

.fire_alert_text {
    color: #ff3333;
    font-family: 'Press Start 2P', monospace;
    font-size: 24px;
    text-shadow: 2px 2px 0px #000;
    animation: blink 1s steps(2, start) infinite;
    margin-bottom: 5px;
}

.fire_subtext {
    color: white;
    font-family: 'Press Start 2P', monospace;
    font-size: 10px;
    opacity: 0.7;
}

@keyframes blink {
    to { visibility: hidden; }
}

/* --- LES BOUTONS DE TIR --- */
.fire_controls {
    padding-top: 53vh;
    pointer-events: auto; 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.fire_horizontal {
    display: flex;
    gap: 60px; 
}

.fire_btn {
    background-color: #330000;
    border: 2px solid #ff3333;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.fire_btn:hover {
    background-color: #ff3333;
    transform: scale(1.1);
}