<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunt the Wumpus - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='STYLE/test.css') }}">
    <script src="{{ url_for('static', filename='JAVASCRIPT/audio.js') }}" defer></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body_content %}{% endblock %}

    {% block audio_player %}
    <audio id="bg-music" loop autoplay>
        <source src="{{ url_for('static', filename='ASSETS/AUDIO/theme_menu.mp3') }}" type="audio/mpeg">
    </audio>
    {% endblock %}
</body>
</html>