<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunt the wumpus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='STYLE/stylesheet.css') }}">
</head>
<body>
    <div id="maze_screen">
        <table class="maze_table">
            {% for col in maze %}
                <tr class="maze_tr">
                    {% for unit in col %}
                    <td class=case_type_{{unit}}></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>