<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunt the wumpus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='STYLE/stylesheet.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='JAVASCRIPT/maze.js')}}" defer></script>
</head>
<body>
    {% set game_status = namespace(lost=false) %}
    <div id="maze_screen">
        <table class="maze_table">
            {% for row in maze %}
                {% set y = loop.index0 %}
                <tr class="maze_tr">
                    {% for unit in row %}
                        {% set x = loop.index0 %}
                        {% if vision_maze[y][x] == 1 or vision_maze[y][x] == 2 %}
                            <td class="case_type_{{ unit }}">
                            {% if bats[y][x] == 2 and vision_maze[y][x] == 2 %}
                                <div class="triggered_bat"></div>
                            {% elif bats[y][x] == 1 or bats[y][x] == 2 %}
                                <div class="maze_bat"></div>
                            {% endif %}
                            {% if vision_maze[y][x] == 2 and not bats[y][x] == 2 %}
                                <div class="maze_player"></div>
                            {% endif %}
                            {% if vision_maze[y][x] == 2 and (maze[y][x] == 7 or maze[y][x] == 3) %}
                                {% set game_status.lost = true %}
                            {% endif %}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %} 
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% if game_status.lost %}
            <div class="pannel"> <!-- calquer le style sur les panneaux théo -->
                <p>tu as perdu</p>
                <a href="{{ url_for('game.gameScreen') }}">
                    <button class="pannel_btn">
                        rejouer
                    </button>
                </a> 
                <a href="{{ url_for('game.podiumScreen') }}">
                    <button class="pannel_btn">
                        écran d'accueil
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</body>
</html>