<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunt the Wumpus</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='STYLE/stylesheet.css') }}">
</head>

<body>
    <div id="scoreScreen">

        <div class="background-bridge">

            <a href="#" class="hitbox hitbox-option"></a>
            <a href="{{ url_for('game.gameScreen') }}" class="hitbox hitbox-game"></a>

            <h1 class="game-title">Hunt the wumpus</h1>

            <div class="leaderboard-box">
                <div class="podium-wrapper">
                    <img src="{{ url_for('static', filename='ASSETS/IMAGES/leaderboard/podium.png') }}"
                        class="podium-img" alt="Podium">

                    <div class="player p2">
                        <span class="name">Profil 1</span>
                        <img src="{{ url_for('static', filename='ASSETS/IMAGES/leaderboard/2.png') }}" class="avatar">
                    </div>

                    <div class="player p1">
                        <span class="name">Profil 2</span>
                        <img src="{{ url_for('static', filename='ASSETS/IMAGES/leaderboard/1.png') }}" class="avatar">
                    </div>

                    <div class="player p3">
                        <span class="name">Profil 3</span>
                        <img src="{{ url_for('static', filename='ASSETS/IMAGES/leaderboard/3.png') }}" class="avatar">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>